* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

p,
ul,
ol {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000;
    font-family: "Roboto", serif;
    background: #eee;
}

/* Login : Auth */
.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16a085;
}

.auth {
    width: 400px;
    padding: 30px;
    border: #eee solid 1px;
    border-radius: 15px;
    background: #fff;
}

.auth h1 {
    color: #333;
    font-size: 30px;
    text-align: center;
    border-bottom: #333 solid 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.auth label {
    display: block;
    margin-bottom: 5px;
}

.auth .form-control {
    margin-bottom: 15px;
}

/* Admin Dashbaord */
.wrapper {
    position: relative;
}

/* Admin Header */
.admin-header {
    position: fixed;
    top: 0;
    left: 330px;
    width: calc(100% - 330px);
    height: 50px;
    background: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 9;
}

.loggedin-user {
    position: relative;
}

.loggedin-user .btn-user {
    background: transparent;
    border: none;
}

.loggedin-user .btn-user .fa-solid {
    color: #fff;
    font-size: 14px;
}

.loggedin-user .btn-user span {
    color: #fff;
}

.loggedin-user .dropdown-nav {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    background: #fff;
    padding: 15px;
    border: #eee solid 1px;
    border-radius: 5px;
    box-shadow: 0 5px 30px -15px #ccc;
    transition: all ease-in-out 0.2s;
    visibility: hidden;
    opacity: 0;
}

.loggedin-user:hover .dropdown-nav {
    top: 37px;
    visibility: visible;
    opacity: 1;
}

.loggedin-user .dropdown-nav a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 15px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.01);
    margin: 5px;
    transition: all ease-in-out 0.3s;
}

.loggedin-user .dropdown-nav a:hover {
    background: #eee;
}

/* Admin Footer */
.admin-footer {
    position: fixed;
    bottom: 0;
    left: 330px;
    width: calc(100% - 330px);
    height: 50px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Admin Sidebar Nav */
.admin-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 330px;
    height: 100%;
    background: #34495e;
    z-index: 9;
}

/* admin-sidebar-content */
.admin-sidebar-content {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px 100px 30px;
    overflow-y: scroll;
}

/* width */
.admin-sidebar-content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.admin-sidebar-content::-webkit-scrollbar-track {
    background: #34495e;
}

/* Handle */
.admin-sidebar-content::-webkit-scrollbar-thumb {
    background: #27ae60;
    border-radius: 30px;
    transition: all linear 0.3s;
}

/* Handle on hover */
.admin-sidebar-content::-webkit-scrollbar-thumb:hover {
    background: #e67e22;
}

.admin-sidebar-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.admin-sidebar-panel h3 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.admin-sidebar-panel h3 span {
    color: #e67e22;
}

.admin-sider-nav {
    margin-bottom: 30px;
}

.admin-sider-nav h3 a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    background: #fff;
    color: #34495e;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 0;
}

.admin-sider-nav h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    background: #fff;
    color: #34495e;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.admin-sider-nav h4 .fa-solid {
    font-size: 14px;
}

.admin-sider-nav h4 .fa-chevron-down {
    margin-left: auto;
}

.admin-sider-nav h4 span {
    font-size: 16px;
}

.admin-sider-nav ul li {
    list-style: none;
    line-height: 30px;
    margin-left: 0;
    margin-bottom: 10px;
}

.admin-sider-nav ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    transition: all ease-in-out 0.3s;
}

.admin-sider-nav ul li a .fa-solid {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
}

.admin-sider-nav ul li a:hover .fa-solid {
    background: #e67e22;
    color: #fff;
}

.admin-sider-nav ul li a:hover {
    color: #e67e22;
}

/* Admin Main Content */
.admin-main {
    position: absolute;
    top: 50px;
    left: 330px;
    width: calc(100% - 330px);
    background: #eee;
    padding: 30px;
    padding-bottom: 80px;
}

.heading-panel {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: #666 solid 1px;
}

.heading-panel h1 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
}

.body-panel {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}

/* add-employee-form */
.add-employee-form .row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.add-employee-form .form-control {
    height: 40px;
}

.add-employee-form textarea.form-control {
    height: 100px;
}

.add-employee-form .form-control::placeholder {
    color: #ccc !important;
}

.status-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add-employee-form .form-group label.status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bnt-actions-list {
    width: 275px;
}

.bnt-actions-link {
    display: flex;
    align-items: center;
    gap: 5px
}

.body-card-panel {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-card-panel.bg-green {
    background: #27ae60;
}

.body-card-panel.bg-yellow {
    background: #e67e22;
}

.body-card-panel.bg-blue {
    background: #2980b9;
}

.body-card-panel h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.body-card-panel .data-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    font-weight: 700;
    font-size: 30px;
}

.body-card-panel .data-count.text-green {
    color: #27ae60;
}

.body-card-panel .data-count.text-yellow {
    color: #e67e22;
}

.body-card-panel .data-count.text-blue {
    color: #2980b9;
}

.body-card-panel-table {
    flex-direction: column;
    align-items: flex-start;
}

.body-card-panel-table h4 {
    color: #000;
}